#map {
  position: fixed;
  top: 70px;
  height: 100vh;
  /*border: solid red 2px;*/
}

#sideList {
  padding-top: 5em;
  padding-left: 1em;
  height: 100%;
  /*border: solid black 2px;*/
}

img {
  padding: 0.5em;
}
